.deliveries-box {
  all: unset;
  width: 90%;
  margin-top: 10px;
  position: relative;
}

.deliveries-box .deliveries-wrapper {
  all: unset;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 0px;
  width: 100%;
  height: fit-content;
  position: relative;
}
