.m-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-box div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  animation: rotate 2.5s ease-in-out infinite;
}
.m-box span {
  position: absolute;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* @keyframes rotate {
  from {
    transform: rotate(0) scale(0.5);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
} */
@keyframes rotate {
  0% {
    transform: rotate(0) scale(0.65);
    border-radius: 30px;
  }
  10% {
    border-radius: 8px;
  }
  50% {
    border-radius: 8px;
    transform: rotate(360deg) scale(1);
  }
  60% {
    border-radius: 8px;
  }
  100% {
    border-radius: 30px;
    transform: rotate(720deg) scale(0.65);
  }
}

@media only screen and (max-width: 600px) {
  .m-box {
    align-items: center;
  }
}
