.up-list-div {
  margin-top: 20px;
}
.up-list-div .up-list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .up-list-div {
    margin-bottom: 70px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
  }
  .up-list-div .up-list-box {
    justify-content: space-evenly;
  }
}
